<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenChad</title>
    <script type="importmap">
        {
            "imports": {
                "react": "/react-shim.js",
                "react/jsx-runtime": "/react-jsx-runtime-shim.js",
                "react-dom": "/@id/react-dom",
                "react-dom/client": "/@id/react-dom/client",
                "lucide-react": "/lucide-react-shim.js",
                "@dnd-kit/core": "/dnd-kit-core-shim.js",
                "@dnd-kit/modifiers": "/dnd-kit-modifiers-shim.js",
                "@dnd-kit/sortable": "/dnd-kit-sortable-shim.js",
                "@dnd-kit/utilities": "/dnd-kit-utilities-shim.js",
                "@openchad-react": "./openchad-react/index.ts"
            }
        }
    </script>
</head>
<body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
</body>
</html>